@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.home {
    background-image: linear-gradient(0deg, hsl(213, 10%, 21%) 0%, hsl(216, 18%, 16%) 100%);
    background-size: cover;
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    color: #fff;
}

.home_container {
    width: 100%;
    position: relative;
    padding: 20px;
}

.home_subtitle,
.home_job {
    font-weight: 700;
    padding: 70px 0 0 0;
}

.text_cs {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.home_subtitle,
.home_job span {
    font-size: 15px;
}

.home_subtitle span,
.home_title span {
    color: hsl(165, 60%, 40%);
}

.home_job b {
    font-family: 'Caveat', cursive;
    font-size: 24px;
    margin-left: 10px;
}

/* Style pour le titre */
.home_title {
    font-family: Arial, sans-serif;
    font-size: 48px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid orange;
    animation: typing 5s steps(12) infinite;
}

.home_title .han{
    color: bisque;
}
/* Animation d'écriture */
@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 45%;
    }
}


.home_text {
    font-size: 18px;
    margin: 40px 28px;
    max-width: 520px;
    text-align: center;
}

.home_socials {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
}

.home_social_link {
    color: #fff;
    font-size: 22px;
    transition: all 0.3s ease;
}

.home_social_link:hover {
    color: #29a385;
}

.home_btns {
    display: flex;
    gap: 70px;
    justify-content: center;
}

.btn,
.hero_link {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    height: 56px;
    display: grid;
    place-items: center;
    position: relative;
    text-decoration: none;
}

.btn {
    border: 2px solid hsl(210, 2%, 65%);
    padding: 0 40px;
    border-radius: 56px;
    box-shadow: 5px 5px rgb(255 255 255 / 10%);
    position: relative;
    overflow: hidden;
}

.btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsl(165, 60%, 40%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.5s ease;
    transform: scaleX(0);
}

.btn:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.btn:hover {
    background-color: hsl(165, 60%, 40%);
}

.hero_link::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -97%;
    transform: translateY(-50%);
    width: 40px;
    height: 2px;
    background-color: hsl(210, 2%, 65%);
}

.home_img_wrapper {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    width: 100%;
    max-width: 300px;
}

.home_banner {
    background-color: hsl(165, 60%, 40%);
    padding-bottom: 60%;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.home_profile {
    position: absolute;
    bottom: 0;
    transform: translateY(-10%);
    height: 360px;
    width: 365px;
    border-radius: 150px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.home_profile:hover {
    transform: scale(1.1);
}

.home_data {
    border: 2px solid hsl(210, 2%, 65%);
    background-color: hsl(0, 0%, 1%);
    box-shadow: 5px 5px rgb(255 255 255 / 10%);
    padding: 20px;
    width: 200px;
    height: 82px;
    border-radius: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.home_data_one {
    top: calc(50% + 50px);
    left: 50%;
    transform: translateX(-50%);
}

.home_data_two {
    top: calc(50% + 150px);
    left: 50%;
    transform: translateX(-50%);
}

.home_data .text_lg,
.home_data .text_sm {
    width: 100%;
    font-weight: 700;
}

.home_data .text_lg {
    text-align: center;
    font-size: 37px;
}

.home_data .text_sm {
    font-size: 13px;
    line-height: 1.5rem;
}

.home_data .text_lg b,
.home_data .text_sm span {
    color: #29a385;
}

.home_data .text-lg b {
    position: relative;
    top: -4px;
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .home {
        padding-top: 20px;
    }

    .home_profile {
        height: 20rem;
    }

    .home_subtitlem .home_title,
    .home_job,
    .home_text {
        text-align: center;
    }

    .home_text {
        margin-top: 120px;
    }

    .home_job {
        margin-bottom: 200px;
    }

    .home_img_wrapper {
        position: relative;
        transform: initial;
        right: initial;
        margin-inline: auto;
        margin-bottom: 10px;
        padding: 30px 0;
    }

    .home_socials,
    .home_btns {
        justify-content: center;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 740px;
    }

    .home_btns {
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
    }

    .hero_link::before {
        left: 50%;
        top: -72%;
        transform: translateX(-50%);
        width: 2px;
        height: 40px;
    }
    .home_title {
        font-size: 30px;
        animation: typing 5s steps(12) infinite;
    }
    @keyframes typing {
        0% {
            width: 0;
        }
    
        100% {
            width: 100%;
        }
    }
}